<div style="display: none;">
    <span class="curr-page">{{page}}</span>
    <span class="total-pages">{{pages}}</span>
</div>

<ul class="pagination text-center" role="navigation" aria-label="Pagination">
    {{#if prev}}
        <li class="pagination-previous"><a href="{{page_url prev}}">&laquo;</a></li>
    {{else}}
        <li class="pagination-previous disabled">&laquo;</li>
    {{/if}}
    {{#if next}}
        <li class="pagination-next"><a href="{{page_url next}}">&raquo;</a></li>
    {{else}}
        <li class="pagination-next disabled">&raquo;</li>
    {{/if}}
</ul>